<p style="color: green"><%= notice %></p>

<div>
  <% @products.each do |product| %>
      <div class="col-md-3">
        <div class="card-body">
            <%= link_to product.product_name, product_path(product) %>
        </div>
      </div>
  <% end %>
  <%= link_to "Back to categories", categories_path %>

  <%# <%= button_to "Destroy this category", @category, method: :delete %>
</div>
