<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div class="product-cards">
  <% @products.each do |product| %>
  <a href="<%= product_path(product) %>" class="product-card">
    <%= render product %>
  </a>
  <% end %>
</div>

<%# <%= link_to "New product", new_product_path %>
